<div th:fragment="modalM">
    <div class="modal fade" id="ManagerEdit" tabindex="-1" role="dialog" 
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitleEdit">Request Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="POST" id="updateManager" 
                          class="needs-validation" novalidate>           
                        <table  style="padding: 10">
                            <tr>
                                <div class="form-group">
                                    <td><label>Request ID</label></td>
                                    <td><input type="number" name="reqId" 
                                               class="form-control" required
                                               id="reqId" readonly="readonly">
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group">
                                    <td><label>Approval</label></td>
                                    <td><select id="status" required name="status" class="custom-select">
                                            <option value="1">on progress</option>
                                            <option value="2">accepted</option>
                                            <option value="3">denied</option>
                                        </select>
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group">
                                    <td><label>Notes</label></td>
                                    <td><textarea type="text-area" name="note" 
                                               class="form-control" required
                                               id="note" ></textarea>
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div></td>
                                </div>
                            </tr>
                            <tr>
                                <td><input type="submit" value="Submit" 
                                           class="btn btn-primary">
                                </td>
                                <td><input type="reset" value="Reset" 
                                           class="btn btn-secondary">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>