<div th:fragment="modalE">
    <div class="modal fade" id="RequestEdit" tabindex="-1" role="dialog" 
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitleEdit">Approval Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="POST" id="reqEmp" 
                          class="needs-validation" novalidate>           
                        <table  style="padding: 10">
                            <tr>
                                <div class="form-group">
                                    <td><label>Request ID</label></td>
                                    <td><input type="number" name="req_Id" 
                                               class="form-control" required
                                               id="req_Id" readonly="readonly">
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div></td>
                                </div>
                        </tr>
                            <tr>
                                <div class="form-group">
                                    <td><label>Notes</label></td>
                                    <td><textarea type="text-area" name="noteDet" 
                                               class="form-control" required
                                               id="noteDet" readonly="readonly"></textarea>
                                    <div class="invalid-feedback" >
                                        This field is required.
                                    </div></td>
                                </div>
                            </tr>
                              <tr>
                                <div class="form-group">
                                    <td><label>Approval Date</label></td>
                                    <td><input type="date" name="appDate" 
                                               class="form-control" required
                                               id="appDate" readonly="readonly">
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div></td>
                                </div>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>