<div th:fragment="leavereq">
    <div class="modal fade" id="requestEmp" tabindex="-1" role="dialog" 
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Form Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="POST" id="reqLeaveForm" 
                          class="needs-validation" novalidate>           
                        <table  style="padding: 10">
                            <tr>
                                <div class="form-group">
                                    <td><label>Request Type</label></td>
                                    <td><select id="reqType" required name="reqType" class="custom-select" onchange="setDuration()">
                                            <option value="1">permit</option>
                                            <option id="cutiBiasa" value="2">paid leave</option>
                                            <option id="cutiMelahirkan" value="3">maternity leave</option>
                                            <option value="4">marriage leave</option>
                                            <option id="cutiHaji" value="5">pilgrimage to mecca leave</option>
                                            <option id="cutiSunatAnak" value="6">child circumcision leave</option>
                                            <option value="7">bereavement leave</option>
                                        </select>
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group">
                                    <td><label>Start Date</label></td>
                                    <td><input type="date" class="form-control" 
                                               id="startDate"  
                                               name="startate" required>
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group">
                                    <td><label>End Date</label></td>
                                    <td><input type="date" class="form-control" 
                                               id="endDate"  
                                               name="endDate" required>
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div></td>
                                </div>
                            </tr>
                            <!--durasi-->
                            <tr>
                                <div class="form-group">
                                    <td><label>Duration</label></td>
                                    <td><input type="number" name="leaveDuration" 
                                               class="form-control" required
                                               id="leaveDuration" >
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div></td>
                                </div>
                            </tr>
                            
                            <tr>
                                <div class="form-group">
                                    <td><label>Reasons</label></td>
                                    <td><textarea type="text" name="reasons" 
                                               class="form-control" required
                                               id="reasons" ></textarea>
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div></td>
                                </div>
                            </tr>
                            <tr>
                                <td><input type="submit" value="Submit" 
                                           class="btn btn-primary">
                                </td>
                                <td><input type="reset" value="Reset" 
                                           class="btn btn-secondary">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>