html   {height: 100%;}
body   {background:#fff; height: 100%; margin: 0;}
#header {height: 70px; display: flex; align-items: center;}
#headerContent {margin: 0px;}
#main {background:#888; display: flex; height: calc( 100vh - 70px - 40px);}
#left {background:#ffffff; width: 250px; align-items: center;}
#mainL {background:#888; display: block; height: calc( 100vh - 70px - 0px);}
#rightL {padding: 35px; flex: 1 0 auto;}
#right {padding: 25px; overflow: scroll; flex: 1 0 auto;}
#foot  {background:white;}​

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}