<div th:fragment="modalmanlev">
    <div class="modal fade" id="mandatoryLeaveModal" tabindex="-1" role="dialog" 
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Mandatory Leave</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="POST" id="createMandatoryForm" 
                          class="needs-validation" novalidate>           
                        <table  style="padding: 10">
                            <tr>
                                <div class="form-group">
                                    <td><label>Mandatory Leave Name</label></td>
                                    <td><input type="text" name="name" 
                                               class="form-control" required
                                               id="name" >
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group">
                                    <td><label>Mandatory Leave Date</label></td>
                                    <td><input type="date" class="form-control" 
                                               id="startDate"  
                                               name="startDate" required>
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group">
                                    <td><label>Duration</label></td>
                                    <td><input type="number" class="form-control" 
                                               id="duration"  
                                               name="duration" required>
                                    <div class="invalid-feedback">
                                        This field is required.
                                    </div></td>
                                </div>
                            </tr>
                            <tr>
                                <td><input type="submit" value="Submit" 
                                           class="btn btn-primary">
                                </td>
                                <td><input type="reset" value="Reset" 
                                           class="btn btn-secondary">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>